@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Find Your Taste</h1>
    <div style=" height: 300px; position: relative; bottom: 20px;">
        <img src="/JumboImg/Libraryap.jpeg" style="height: 300px; width: 2000px; object-fit: cover; object-position: 85% 80%; position:absolute">
    </div>
</div>
