@{
    ViewData["Title"] = "Home Page";
}
<div style=" height: 300px; position: relative; bottom: 20px;">
    <div class="text-center">
        <h1 class="display-4">Find Your Taste</h1>
        <img src="/Images/188745681_10165096130080384_5395955813789129204_n.jpeg" style="height: 300px; width: 1000px; object-fit: cover; object-position: 80% 50%; position:center">
    </div>
</div>



